.level1 {
    font-size: 2rem; /* 16px * 2 = 32px */
}

.level2 {
    font-size: 2rem; /* 16px * 2 = 32px */
}

.level3 {
    font-size: 2rem; /* 16px * 2 = 32px */
}

.level4 {
    font-size: 2rem; /* 16px * 2 = 32px */
}